In [5]:
from vnstock import Vnstock
import pandas as pd
import strat_v4 as strat

In [18]:
stock = Vnstock().stock()
stock.listing.symbols_by_group("VN30")

2025-06-10 14:03:48 - vnstock.common.vnstock - INFO - Mã chứng khoán không được chỉ định, chương trình mặc định sử dụng VN30F1M
2025-06-10 14:03:48 - vnstock.common.data.data_explorer - INFO - Không phải là mã chứng khoán, thông tin công ty và tài chính không khả dụng.

0     ACB
1     BCM
2     BID
3     BVH
4     CTG
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    LPB
11    MBB
12    MSN
13    MWG
14    PLX
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

In [13]:
df = stock.quote.history(symbol='ACB', start='2006-01-01', end='2025-01-01')
df

           time   open   high    low  close   volume
0    2006-11-21   3.86   4.83   3.83   4.34    56500
1    2006-11-22   4.61   4.61   4.18   4.34    62300
2    2006-11-23   4.67   4.67   4.18   4.60    69900
3    2006-11-24   4.51   4.89   4.51   4.83    63600
4    2006-11-27   4.72   5.19   4.34   4.57    42400
...         ...    ...    ...    ...    ...      ...
4510 2024-12-25  20.89  21.39  20.85  21.26  9518178
4511 2024-12-26  21.26  21.35  21.22  21.35  5583577
4512 2024-12-27  21.39  21.47  21.31  21.35  7694895
4513 2024-12-30  21.18  21.43  21.18  21.22  5004572
4514 2024-12-31  21.22  21.56  21.18  21.56  8844727

[4515 rows x 6 columns]